<h1>About Us</h1>

<center><h4>"Providing a platform that connects artists to the DND community; allowing players to satisfy any of their tabletop needs"</h4></center>
<center>
	<p>
		The goals of 3DND are to create a platform where artists can easily connect with fans to sell and enhance their goods, to allow players a space to communicate about their tabletop desires
		and to create accessible 3D models that can be generalized or customized to match individuals needs
	</p>
</center>