<div class="text-center">
    <h1 class="display-4">YES</h1>
</div>
<<<<<<< HEAD
<!--
    MainPage
        cart icon
        login/profile tab
        tech support tab
        main catalog tab (ProductSearch)
        display highlighted products
-->
=======
>>>>>>> 9224e2852b033dd7171c126d153cef1644fc5f38
