@model Database_Design.Models.UploadFilePage
<h4 style="color:purple">
</h4>

<h3><b>Please fill in your information below.</b></h3>

@using (Html.BeginForm("Form2", "Home", FormMethod.Post))
{
    <form enctype="multipart/form-data" asp-controller="Home" asp-action="UploadFilePage" method="post">
        <div>
            <!--label asp-for="ProductImage"></!--label>
    <div>
        <input asp-for="ProductImage" class="form-control" >
    </div>
    <label asp-for="ProductName"></label-->
            <div class="form-group row">
                <div class="custom-file">
                    <input asp-for="ImageUrl" class="form-control custom-file-input">
                    <label class="custom-file-label">Choose File...</label>
                </div>
            </div>
            <div class="form-group row">
                <input asp-for="ProductName" class="form-control" placeholder="Product Price">
            </div>
            <div class="form-group row">
                <input asp-for="ProductPrice" class="form-control" placeholder="Product Price">
            </div>
            <div class="form-group row">
                <input asp-for="Description" class="form-control" placeholder="Product Description">
            </div>
            <div class="form-group row">
                <input asp-for="CategoryId" class="form-control" placeholder="Category">
            </div>
        </div>
    </form>
    <!-- TODO: Review the below cosmetics, make it less squished together
    <table style="margin-left:auto;margin-right:auto;">
        <tr>
            <td>Upload Image: </td>
            <td>Html.TextBoxFor(m => m.ImageUrl)</td>
        </tr>
        <tr>
            <td>Product Name: </td>
            <td>Html.TextBoxFor(m => m.ProductName)</td>
        </tr>
        <tr>
            <td>Product Price: </td>
            <td>Html.TextBoxFor(m => m.ProductPrice)</td>
        </tr>
        <tr>
            <td>Product Description: </td>
            <td>Html.TextAreaFor(m => m.Description)</td>
        </tr>
        <tr>
            <td>Category: </td>
            <td>Html.TextBoxFor(m => m.CategoryId)</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Submit Form" /></td>
        </tr>
        <!--What should this button do? Email one of us? or automate it?
    </table>-->
}