@model Database_Design.Models.UploadFilePage

@{
    ViewData["Title"] = "UploadFilePage";
}

<h1>Upload File Page</h1>

<h4>UploadFilePage</h4>
<hr />




    <form enctype="multipart/form-data" method="post">
        <div>
            <!--label asp-for="ProductImage"></!--label>
            <div>
                <input asp-for="ProductImage" class="form-control" >
            </div>
            <label asp-for="ProductName"></label-->
            <div class="form-group row">
                <div class="custom-file">
                    <input asp-controller="UploadFile" name="ImageUrl" asp-for="ImageUrl" class="form-control custom-file-input">
                    <label class="custom-file-label">Choose File...</label>
                </div>
            </div>
            <div class="form-group row">
                <input asp-controller="UploadFile" Name="ProductName" class="form-control" placeholder="Product Name">
            </div>
            <div class="form-group row">
                <input asp-controller="UploadFile" Name="ProductPrice" class="form-control" placeholder="Product Price">
            </div>
            <div class="form-group row">
                <input asp-controller="UploadFile" Name="Description" class="form-control" placeholder="Product Description">
            </div>
            <div class="form-group row">
                <input asp-controller="UploadFile" Name="CategoryId" class="form-control" placeholder="Category">
            </div>
        </div>
        <button type="submit" value="Create">Submit</button>
    </form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

